.angled-separator{
  position:relative;
  z-index: 1;
  height:125px;
  width:100%;
  background-color:transparent;
  overflow: hidden;
  &:before{
    content:'';
    position:absolute;
    z-index:1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0px 6vw 100vw;
    border-color: #5f6a75 transparent transparent #5f6a75;
    background:transparent;
    -webkit-backface-visibility: hidden;
  }
  &:after{
    content:'';
    position:absolute;
    z-index:2;
    width: 0;
    top:0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 5vw 100vw;
    border-color: transparent transparent transparent #0a0b0b;
    background:transparent;
    -webkit-backface-visibility: hidden;
  }
  &.invert{
    &:after{
      border-color: transparent transparent transparent #eee;
    }
  }
  &.separate-black{
     &:after{
       border-color: transparent transparent transparent #000!important;
     }
   }
  &.separate-white{
    &:after{
      border-color: transparent transparent transparent #fff!important;
    }
  }
  &.separate-gray{
    &:after{
      border-color: transparent transparent transparent #e6e7e8!important;
    }
  }
  &.separator-bg-light{
    background-color: #eee;
  }
  &.separator-bg-dark{
    background-color: #0a0b0b;
  }
  &.separator-bg-none{
    background-color: transparent;
  }
  &.separator-bg-gray{
    background-color: #e6e7e8;
  }
  span{
    display:block;
  }
  &.flip-x{
    -moz-transform:    rotateX(180deg); /* Gecko */
    -o-transform:      rotateX(180deg); /* Opera */
    -webkit-transform: rotateX(180deg); /* Webkit */
    transform:         rotateX(180deg); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
  }
  &.flip-y{
    -moz-transform:    rotateY(180deg); /* Gecko */
    -o-transform:      rotateY(180deg); /* Opera */
    -webkit-transform: rotateY(180deg); /* Webkit */
    transform:         rotateY(180deg); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
  }
  &.flip-x-y{
    -moz-transform:    rotateY(180deg) rotateX(180deg); /* Gecko */
    -o-transform:      rotateY(180deg) rotateX(180deg); /* Opera */
    -webkit-transform: rotateY(180deg) rotateX(180deg); /* Webkit */
    transform:         rotateY(180deg) rotateX(180deg); /* Standard */
    filter: FlipH;                 /* IE 6/7/8 */
  }
}

@media screen and (min-width: 768px) {

  .angled-separator{
    &:before{
      border-width: 0px 0px 6vw 100vw;
      border-color: transparent transparent transparent #5f6a75;
    }
  }

}