#cookie-policy{
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  bottom: 15%;
  z-index: $zindex-cookie;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.4s;
  .cookie-policy-content{
    background: rgba(10,11,11,0.85);
    font-family: $axios-nunito;
    font-weight: $axios-font-regular;
    font-size: 15px;
    line-height: 24px;
    .content{
      align-items: center;
      p{
        margin-bottom: 0;
        color: #cccccc;
        a{
          &:after, &:before{
            background-color: $axios-grey-medium;
          }
          &:hover{
            color: $axios-grey-medium;
            &:after, &:before{
              background-color: $axios-grey-medium;
            }
          }
        }
      }
    }
  }
  &.sticky-cookie{
    bottom: 30px;
  }
}