form{
  .form-group{
    position: relative;
    input,textarea{
      &.form-control{
        font-family: $axios-nunito;
        font-size: 15px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $axios-grey-light;
        border-radius: 0;
        padding-left: 0;
        padding-bottom: 0;
        cursor: none!important;
        color: #fff;
        resize: none;
      }
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
    label{
      pointer-events: none;
      font-family: $axios-nunito;
      font-weight: $axios-font-regular;
      font-size: 15px;
      line-height: 24px;
      color: $axios-grey-light;
      position: absolute;
      top: 0;
      transition: $axios-transition-fast $easeInOutQuart;
      .fas{
        font-size: 6px;
        vertical-align: top;
        line-height: 20px;
      }
    }
    &.focused{
      label{
        font-size: 11px;
        top: -20px;
      }
    }
  }
  .form-text{
    font-family: $axios-nunito;
    font-size: 15px;
    color: #666;
    line-height: 20px;
    &.form-title{
      font-family: $axios-montserrat;
      font-size: 20px;
      line-height: 30px;
      font-weight: $axios-montserrat-medium;
      color: $axios-dark;
    }
    &.form-required{
      font-size: 13px;
      line-height: 24px;
      font-family: $axios-nunito;
      color: $axios-dark;
      .fas{
        font-size: 6px;
        vertical-align: top;
        line-height: 20px;
      }
    }
    &.consent{
      font-size: 13px;
      margin-top: 0;
      a{
        text-transform: unset;
        padding: 0;
        font-family: $axios-nunito;
        font-weight: $axios-nunito-bold;
        color: $axios-grey-medium;
        font-size: 13px;
        top: 0;
        transition: $axios-transition $easeInOutQuart;
        &:hover{
          color: #fff;
        }
      }
    }
  }
}
.prForm .form-group input.form-control, .prForm .form-group textarea.form-control{
  color: black;
}