body{
  position: unset;
  &.search-active{
    position: fixed;
    left: 0;
    right: 0;
    #menu-toggle-button{
      //opacity: 0!important;
    }
  }
  &.menu-open{
    position: fixed;
    left: 0;
    right: 0;
    #search-button{
      opacity: 0!important;
    }
  }
  &.vertical-open{
    position: fixed;
    left: 0;
    right: 0;
    #search-button{
      opacity: 0!important;
    }
  }
}
.axios-bg-light{
  background-color: $axios-light-grey-bg;
}
.axios-bg-dark{
  background-color: rgba(10,11,11,0.85);
}
.axios-bg-black{
  background-color: #000;
}
.axios-bg-white{
  background-color: #fff;
}
.axios-text-dark{
  color: $axios-dark;
}
.axios-text-light{
  color: #ccc;
}
.axios-text-light-white{
  color: #fefefe;
}

a{
  font-family: $axios-nunito;
  font-weight: $axios-nunito-bold;
  font-size: 16px;
  line-height: 22px;
  color: $axios-grey-medium;
  &:hover{
    text-decoration: none;
    color: $axios-dark;
  }
  &.light-hover{
    color: #fff;
  }
}
.back-button{
  a{
    font-family: $axios-montserrat;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: $axios-montserrat-bold;
    color: $axios-grey-medium;
    display: flex;
    width: 270px;
    line-height: 35px!important;
    transition: $axios-transition-fast $easeInOutQuart;
    .arrow-icon-cont{
      .arrow-icon {
        transform: rotate(180deg);
        position: relative;
        top: -1px;
        left: -9px;
        -webkit-transition: -webkit-transform 0.3s ease;
        transition: -webkit-transform 0.3s ease;
        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
        vertical-align: middle;
        g{
          stroke: $axios-grey-medium;
        }
      }

      .arrow-icon--circle {
        transition: stroke-dashoffset .3s ease;
        stroke-dasharray: 95;
        stroke-dashoffset: 95;
      }

    }
    &:hover{
      color: $axios-dark!important;
      .arrow-icon-cont{
        .arrow-icon {
          transform: rotate(180deg) translate3d(5px, 0, 0);
          g{
            stroke: $axios-dark;
          }
        }
        .arrow-icon--circle {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}
.quote{
  font-family: $axios-montserrat;
  font-size: 18px;
  font-style: italic;
  font-weight: $axios-montserrat-semibold;
  line-height: 24px;
  color: $axios-dark;
  display: block;
  .quote-author{
    display: block;
    padding-top: 24px;
    font-family: $axios-nunito;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #333;
    font-style: initial;
  }
}
#more-posts{
  padding-top: 50px!important;
  padding-bottom: 50px!important;
  .articles-container{
    .article-cont{
      max-width: 350px;
      a{
        .article-img-cont{
          .article-img-cont-in{
            overflow: hidden;
            width: 100%;
            height: 225px;
            .bg-img{
              transition: $axios-transition-fast $easeInOutQuart;
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
              position: absolute;
              left: 0;
              right: 0;
              height: 225px;
              background-size: cover;
              background-position: center center;
              &:before{
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                background: #9ea5ab; /* Old browsers */
                background: -moz-linear-gradient(top, #9ea5ab 0%, #bfc3c8 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #9ea5ab 0%,#bfc3c8 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #9ea5ab 0%,#bfc3c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ea5ab', endColorstr='#bfc3c8',GradientType=0 ); /* IE6-9 */
                opacity: 0.4;
                transition: $axios-transition-fast $easeInOutQuart;
              }
            }
          }
        }
        .article-date{
          padding-bottom: 0;
          .date{
            font-family: $axios-montserrat;
            font-weight: $axios-montserrat-semibold;
            font-size: 12px;
            line-height: 30px;
            color: $axios-grey-light;
            text-transform: uppercase;
          }
        }
        .article-text{
          .text{
            font-family: $axios-nunito;
            font-weight: $axios-nunito-bold;
            font-size: 18px;
            color: $axios-grey-dark;
            line-height: 24px;
            transition: $axios-transition-fast $easeInOutQuart;
          }
        }
        &:hover{
          .article-img-cont{
            .article-img-cont-in{
              .bg-img{
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                transform: scale(0.95);
                &:before{
                  opacity: 0;
                }
              }
            }
          }
          .article-text{
            .text{
              color: $axios-grey-light;
            }
          }
        }
      }
    }
  }
}
/** Pagination */

.pagination{
  justify-content: center;

  li{
    color: $axios-grey-light;
    &.dots{
      padding-top: 10px;
    }
    a{
      font-family: $axios-montserrat;
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      background-color: transparent;
      color: $axios-grey-light;
      border: 0;
      margin: 0 8px;
      padding: 0px;
      padding-top: 10px;
      justify-content: center;
      display: flex;
      i{
        margin: auto;
        padding: 0 7px;
        line-height: 18px;
      }
      &:hover,&:focus{
        color: $axios-dark;
        background-color: transparent;
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
  .page-item{
    a{
      color: $axios-grey-light;
    }
  }
  .page-item.active{
    a{
      background-color: $axios-dark;
      color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

.nav-tabs .nav-link {
  color: $axios-grey-medium;
  background-color: #e5e5e5;
  border:0px;
  padding: 10px 60px;
  font-family: $axios-nunito;
  font-weight: 600;
  font-size: 17px;
  border-radius: 0px;
  border-top: 3px solid transparent;

  &:hover,&:focus{
    background-color: #ddd;
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: $axios-grey-dark;
  background-color: #fff;
  position: relative;
  border-top: 3px solid;

  &:before{
    content: '';
    height: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}

.tab-content{
  padding: 15px 30px;
  background-color: #ffffff;

  .tableHeader{
    font-family: $axios-nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: $axios-grey-dark;
    padding-bottom: 50px;
  }

  .tableRow{
    font-family: $axios-nunito;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: $axios-grey-dark;
    border-bottom: solid 1px $axios-grey-light;
    padding: 15px 0px;

    i{
      color: $axios-grey-light;;
      padding-right: 10px;
    }
  }

  .tableRow:last-child{
    border-bottom: 0px;
  }
}

@media (max-width: 767.98px) {
  .tab-content {
    padding: 5px 10px;
  }
  .tableRow{
    padding-top: 5px !important;
  }
}

@media (max-width: 575.98px) {
  .pagination{
    li{
      span{
        display: none;
      }
    }
  }

  .tab-content{
    padding: 5px 10px;

    .tableRow{
      font-size: 16px;
      line-height: 18px;

      i{
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  .pagination {
    li {
      a{
        margin: 0 15px;
      }
    }

  }

}

/** Landscape */
