

.menu-trigger{
  width: 27px;
  height: 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 20px 0;
  .line{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: #fff;
  }
}

//second menu trigger

.menu-trigger{
  transition: all 0.5s 0s;
  overflow:hidden;
  .line{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #fff;
    transition: 0.3s;
    &.line-1{
      transition: all 0.3s 0.3s, transform 0.3s 0s;
      width:40px;
    }
    &.line-3{
      bottom: 0;
      top: auto;
      left: 0;
      transition: all 0.3s 0.3s, transform 0.3s 0s;
    }
  }
  &.active{
    height: 25px;
    width: 25px;
    transform: translate(0%, -25%) rotate(135deg);
    transition: all 0.5s 0.3s;
    .line-1{
      width: 25px;
      top: 50%;
      //margin-top: -1px;
      transform: rotate(90deg);
      transition: all 0.3s, transform 0.3s 0.3s;
    }
    .line-3{
      width: 25px;
      bottom: 50%;
      margin-bottom: -1px;
      transform: rotate(0deg);
      transition: all 0.3s, transform 0.3s 0.3s;
    }
  }
}