#menu-navbar{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $zindex-menu-navbar;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 85px 96vw 15px 0;
    border-color: #0a0b0b #0a0b0b transparent #0a0b0b;
    background-color: #5f6a75;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .navbar-inner-container{
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .logo-cont{
    .logo-img{
      height: 54px;
      -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
      transition:         all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  .right-cont{
    .search{
      right: 60px;
      height: 55px;
      #search-button{
        transform: rotateY(180deg);
        color: #fff;
        transition: $axios-transition $easeInOutQuart;
        opacity: 1;
        visibility: visible;
        i{
          font-family: $font-awesome;
          font-weight: 100;
          font-size: 20px;
        }
        &:hover{
          color: $axios-grey-light;
        }
        &:focus{
          color: $axios-grey-light;
        }
        &.search-active{
          visibility: hidden;
        }
      }
    }
    .toggle-menu{
      right: 0;
      height: 55px;
      #menu-toggle-button{
        transition: $axios-transition $easeInOutQuart;
        opacity: 1;
      }
    }
  }
  &.sticky-menu{
    position: fixed;
    top: 0;
    padding-top: 0;
    &:before{
      opacity: 0.90;
    }
    .navbar-inner-container{
      padding-top: 4px!important;
      .logo-cont{
        img{
          height: 50px;
        }
      }
    }
  }
}
.landscape{
  display: none;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 11, 11, 1);
  z-index: 998;

  .landscape__text{
    position: absolute;
    left: 0px;
    top: calc(50% - 18px);
    width: 100%;
    color: #fff;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    font-weight: 700;
  }
}
@media (max-width:840px) and  (max-height: 420px) and (min-aspect-ratio: 13/9) {
  .touchevents.isLandscape{
    .landscape{
      display: block;
    }
  }
}
@media screen and (min-width:576px){

  #menu-navbar {
    .logo-cont {
      .logo-img{
        height: 70px;
      }
    }
  }

}
