.mega-menu{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  #menu{
    &:before,&:after{
      content: "";
      position: fixed;
      width:100vw;
      height:100vh;
      background: $axios-light-grey-bg;
      z-index: -1;
      transition: transform cubic-bezier(.77,0,.175,1) .8 + s;
      transform: translateX(0%) translateY(100%);
    }
    &:before{
      transition-delay: .1s;
    }
    &:after{
      background: rgba($axios-dark, 1);
      transition-delay: 0s;
    }
    .mega-menu-content{
      height: 0;
      overflow: hidden;
      position: absolute;
      display: flex;
      left: 0;
      right: 0;
      ul{
        list-style-type: none;
        padding: 0;
        li{
          opacity: 0;
          transition: $axios-transition $easeInSine;
          a{
            font-family: $axios-montserrat;
            font-weight: $axios-montserrat-bold;
            font-size: 21px;
            line-height: 60px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            position: relative;
            transition: all .4s ease;
            &:before,
            &:after{
              content: '';
              display: block;
              position: absolute;
              height: 1px;
              width: 0;

            }
            &:before{
              transition: width 0s ease,background .4s ease;
              left: 0;
              right: 0;
              bottom: 15px;
            }
            &:after{
              right: 2.2%;
              bottom: 15px;
              background: $axios-grey-medium;
              transition: width .4s ease;
            }
            &:hover{
              color: $axios-grey-medium;
              &:before{
                text-decoration: none;
                color: $axios-dark;
                width: 97.8%;
                background: $axios-grey-medium;
                transition: width .4s ease;
              }
              &:after{
                width: 97.8%;
                background: 0 0;
                transition: all 0s ease;
              }
            }
          }
        }
      }
    }
  }
  &.open{
    #menu{
      &:before,&:after{
        transform: translateX(0%) translateY(0%);
      }
      &:after{
        transition-delay: .1s;
      }
      &:before{
        transition-delay: 0s;
      }
      .mega-menu-content{
        height: 100vh;
        overflow: visible;
        ul{
          li{
            transition: $axios-transition $easeInSine;
            transition-delay: 0.65s;
            opacity: 1;

          }
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {

  .mega-menu {
    #menu {
      .mega-menu-content {
        ul {
          li {
            a{
              font-size: 28px;
              line-height: 100px;
            }
          }
        }
      }
    }
  }

}