#careers{
  .hero-container{
    .hero-bg{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-size: cover;
    }
    .hero-content-container{
      padding: 150px 4px 100px 4px;
      h3 {
        color: #fff;
      }
      .content {
        .contact-form{
          .form-text{
            color: #fff;
          }
          .form-control{
            border-bottom: 1px solid #444;
          }
        }
      }
      .map-container{
        max-width: 320px;
        margin: auto;
        .map{
          background-image: url(/wp-content/themes/axios-wp-theme/assets/images/Map-Vector_Careers.png);
          background-repeat: no-repeat;
          position: relative;
          padding-top: 50px;
          height: 600px;
          background-position: 35%;
        }
        .pins-container{
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          .pin {
            position: relative;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -50px;
            display: block;
            width: 12px;
            height: 12px;
            font-size: 1.3em;
            font-family: 'Trebuchet MS', sans-serif;
            text-transform: uppercase;
            text-align: center;
            line-height: 50px;
            letter-spacing: -1px;
            color: white;
            border: none;
            border-radius: 50%;
            background: #fff;
            cursor: none;
            box-shadow: 0 0 0 0 rgba(#fff, .5);
            -webkit-animation: pulse 1.5s infinite;
            transition: $axios-transition $easeInOutQuart;
            .pin-tooltip{
              position: absolute;
              top: -50px;
              left: -50px;
              background-color: #fff;
              font-family: $axios-montserrat;
              font-size: 20px;
              line-height: 48px;
              color: $axios-dark;
              padding: 0px 25px;
              text-transform: capitalize;
              display: none;
              transition: $axios-transition-fast $easeInOutQuart;
              &:after{
                content: " ";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -8px;
                border-width: 8px;
                border-style: solid;
                border-color: #fff transparent transparent transparent;
              }
            }
            &#ukraine{
              left: 223px;
              top: 212px;
            }
            &#spain{
              left: 130px;
              top: 225px;
            }
            &#cyprus{
              left: 220px;
              top: 360px;
            }
            &#georgia{
              left: 240px;
              top: 300px;
            }
            &#lithuania{
              top: 300px;
              left: 185px;
            }
          }
          .pin:hover {
            -webkit-animation: none;
            transform: scale(1.5);
            .pin-tooltip{
              display: block;
              transform: scale(0.6);
            }
          }
          @-webkit-keyframes pulse {
            0% {
              -moz-transform: scale(0.9);
              -ms-transform: scale(0.9);
              -webkit-transform: scale(0.9);
              transform: scale(0.9);
            }
            70% {
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -webkit-transform: scale(1);
              transform: scale(1);
              box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
            }
            100% {
              -moz-transform: scale(0.9);
              -ms-transform: scale(0.9);
              -webkit-transform: scale(0.9);
              transform: scale(0.9);
              box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            }
          }
        }
      }
    }
    .bottom-block-separator{
      &:after{
        border-color: transparent transparent transparent #eee;
      }
    }
  }
  .careers-positions{
    padding-bottom: 30px;
    .careers__section1__notification{
      font-family: $axios-nunito;
      font-size: 15px;
      line-height: 20px;
      color: #666666;
      input{
        cursor: none;
        &[type='checkbox']{
          margin-right: 20px;
          margin-bottom: 12px;
          &:before{
            width: 25px;
            height: 25px;
            content: '';
            background: #fff;
            padding-top: 2px;
            display: inline-block;
            position: absolute;
            margin-top: 0;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
            visibility: initial;
            border: 1px solid $axios-grey-light;
          }
          &:checked{
            &:before{
              content: "\f0f3";
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              color: #fff;
              background-color: $axios-grey-dark;
              font-family: 'Font Awesome 5 Pro',sans-serif;
            }
          }
        }
      }
    }
    .careers__section1__expand{
      font-family: $axios-montserrat;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: $axios-grey-medium;
      transition: $axios-transition $easeInOutQuart;
      &:hover{
        color: $axios-dark;
      }
      &.expanded{
        color: $axios-dark;
      }
    }
    .careers__section1__position{
      padding: 15px 20px;
      span{
        display: block;
        max-width: 200px;
        font-family: $axios-montserrat;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
      }
      .careers__section1__position__button{
        .toggle-btn{
          width: 60px;
          height: 69px;
          padding-top: 26px;
          padding-left: 26px;
        }
      }
      &.active{
        .toggle-btn{
          width: 90px;
        }
      }
      .main-content{
        h1{
          font-size: 28px;
          line-height: 30px;
          text-align: center;
          letter-spacing: -1px;
          padding-bottom: 17px;
        }
        h2{
          padding-bottom: 17px;
        }
        h3{

        }
        h4{
          padding-top: 32px;
          margin-bottom: 0;
        }
        h5{
          font-family: $axios-nunito;
          font-weight: $axios-font-regular;
          font-size: 20px;
          line-height: 30px;
          color: $axios-dark;
          padding-top: 20px;
          margin-bottom: 0;
        }
        p{
          &.intro-text{
            font-size: 20px;
            line-height: 30px;
            color: $axios-dark;
            padding-bottom: 15px;
          }
        }
        ul{
          list-style-type: none;
          padding-bottom: 20px;
          padding-left: 0;
          li{
            display: flex;
            font-family: $axios-nunito;
            font-size: 15px;
            line-height: 30px;
            color: #666;
            font-weight: $axios-font-regular;
            &:before{
              content: '\f0da';
              display: block;
              font-family: $font-awesome;
              font-size: 15px;
              padding-right: 15px;
              font-weight: 900;
            }
          }
        }
        ol{
          padding-left: 16px;
          padding-bottom: 20px;
          li{
            font-family: $axios-nunito;
            font-size: 15px;
            line-height: 30px;
            color: $axios-grey-medium;
            font-weight: $axios-font-regular;
          }
        }
        p,ul,ol{
          a {
            font-family: $axios-nunito;
            font-weight: $axios-nunito-extra-bold;
            font-size: 16px;
            line-height: 22px;
            color: $axios-grey-medium;
            position: relative;
            text-decoration: none;
            display: inline-block;
            padding: 0 1px;
            transition: color ease 0.3s;

            &::before, &::after {
              content: '';
              position: absolute;
              background-color: $axios-grey-medium;
              z-index: 1;
              height: 1px;
            }

            &::before {
              width: 0;
              left: 0;
              bottom: 0;
              transition: width ease 0.4s;
            }

            &::after {
              width: 100%;
              left: 0;
              bottom: 0;
              transition: all ease 0.6s;
            }

            &:hover {

              &::before {
                width: 100%;
                background-color: $axios-dark;
              }

              &::after {
                background-color: $axios-dark;
                left: 100%;
                width: 0;
                transition: all ease 0.2s;
              }
            }
          }

        }
        strong{
          font-family: $axios-nunito;
          font-size: 16px;
          font-weight: $axios-nunito-bold;
          line-height: 22px;
          color: $axios-grey-dark;
          margin-bottom: 30px;
        }
        span{
          display: block;
        }
      }
    }
    .country-filter{
      .btn-group{
        display: flex!important;
        .multiselect{
          font-family: $axios-montserrat;
          font-size: 13px;
          line-height: 36px;
          color: $axios-grey-dark;
          border-radius: 0;
          background-color: #fff;
          display: flex;
          justify-content: space-between;
          -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
          -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
          &:after{
            border: none!important;
            content:"\f107" ;
            font-family: $font-awesome;
            transition: $axios-transition $easeInOutQuart;
          }
        }
        ul{
          width: 100%;
          padding: 10px 0;
          border-radius: 0;
          border: none;
          -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
          -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.17);
          li{
            a{
              font-family: $axios-nunito;
              font-weight: $axios-font-regular;
              width: 100%;
              font-size: 15px;
              line-height: 38px;
              color: #666666;
              label{
                margin: 0;
                width: 100%;
                padding: 0 15px;
                input{
                  &[type='checkbox']{
                    margin-right: 20px;
                    margin-bottom: 12px;
                    &:before{
                      width: 25px;
                      height: 25px;
                      content: '';
                      background: #fff;
                      padding-top: 2px;
                      display: inline-block;
                      position: absolute;
                      margin-top: -5px;
                      vertical-align: top;
                      cursor: pointer;
                      text-align: center;
                      transition: all 250ms ease;
                      visibility: initial;
                      border: 1px solid $axios-grey-light;
                    }
                  }
                }
              }
            }
            &.active{
              a{
                label{
                  input{
                    &:before{
                      content: "\f00c";
                      font-size: 16px;
                      line-height: 20px;
                      text-align: center;
                      color: #fff;
                      background-color: $axios-grey-dark;
                      font-family: 'Font Awesome 5 Pro',sans-serif;
                    }
                  }
                }
              }
            }
          }
        }
        &.show{
          .multiselect:after{
            transform: rotate(180deg);
          }
        }
      }
      .nice-select{
        display: none;
      }
    }
    .form-cont{
      padding-bottom: 80px;
      input{
        color: $axios-dark;
      }
      .form-text{
        font-size: 12px;
        line-height: 20px;
      }
      .custom-file{
        font-family: $axios-nunito;
        font-size: 15px;
        background-color: transparent;
        border: none;
        color: #fff;
        .custom-file-input{
          border-radius: 0;
          padding-left: 0;
          padding-bottom: 0;
          cursor: none!important;

        }
      }
      .custom-file-label::after{
        height: 48px;
        padding-top: 12px;
      }

      .custom-file-input.filled{
        box-shadow: none !important;
        outline: none !important;
        border: solid 1px $axios-grey-dark;
        background-color: #ffffff;
        color: #000;
      }

      .custom-file-input:lang(en) ~ .custom-file-label::after{
        content: 'Upload';
        background-color: $axios-grey-light;
        color: #fff;
        border-radius: 0px;
        font-family: $axios-nunito;
        font-weight: 700;
        font-size: 13px;
        padding-left: 40px;
        padding-top: 15px;
        transition: all 0.4s;
      }

      .custom-file{
        &:hover,&:focus {
          .custom-file-label::after {
            background-color: $axios-grey-medium;
          }
        }
      }
      .custom-file-input:lang(en) ~ .custom-file-label::before{
        content: "\f093";
        font-weight: 700;
        position: absolute;
        right: 66px;
        font-family: $font-awesome;
        color: #fff;
        z-index: 20;
      }
      .formNote{
        font-family: $axios-nunito;
        font-size: 12px;
        line-height: 20px;
        font-weight: $axios-font-regular;
        color: #666;
      }
      .nice-select{
        width: 100%;
        padding-left: 0;
        border: none;
        border-bottom: 1px solid #a7adb5;
        border-radius: 0;
        line-height: 48px;
        color: #a7adb5;
        height: unset;
        font-family: $axios-nunito;
        .current{
          color: $axios-dark;
        }
        .list{
          width: 100%;
          z-index: 100;
          max-height: 150px;
          overflow: auto;
          .option{
            line-height: 36px;
            min-height: 36px;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
          }
        }
      }
      .custom-file-label{
        height: unset;
        margin-bottom: 0;
        line-height: 36px;
        border: 0;
        border-bottom: 1px solid #a7adb5;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        color: #a7adb5;
        font-family: $axios-nunito;
        box-shadow: none!important;
        input{
          &:focus{
            outline: none;
            box-shadow: none;
          }
        }
        &:focus{
          box-shadow: none;
          outline: none;
        }
      }
      .radio-text{
        font-family: $axios-nunito;
        font-size: 15px;
        line-height: 20px;
        color: $axios-grey-dark;
        display: block;
      }
      .radio-inline{
        position: unset!important;
        font-family: $axios-nunito;
        font-size: 15px;
        line-height: 20px;
        color: $axios-grey-dark;
        padding-left: 30px;
        input[type='radio']{
          position: relative;
          right: 10px;
          &:before{
            content: '';
            background: #fff;
            border-radius: 100%;
            border: 1px solid darken(#fff, 25%);
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: -3px;
            left: -8px;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
            visibility: initial;
          }
          &:checked{
            &:before{
              background-color: #fff;
              box-shadow: inset 0 0 0 4px $axios-grey-medium;
            }
          }
          &:focus{
            &:before{
              outline: none;
              border-color: $axios-grey-medium;
            }
          }
        }
      }
      .consent{
        font-family: $axios-nunito;
        font-size: 15px;
        color: $axios-grey-dark;
        position: unset;
        display: flex;
        flex-wrap: nowrap;
        align-items: unset;
        width: 100%;
        input{
          &[type='checkbox']{
            margin-right: 20px;
            margin-bottom: 12px;
            top: 10px;
            position: relative;
            &:before{
              width: 25px;
              height: 25px;
              content: '';
              background: #fff;
              padding-top: 2px;
              display: inline-block;
              position: absolute;
              margin-top: -5px;
              vertical-align: top;
              cursor: pointer;
              text-align: center;
              transition: all 250ms ease;
              visibility: initial;
              border: 1px solid $axios-grey-light;
            }
            &:checked{
              &:before{
                content: "\f00c";
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #fff;
                background-color: $axios-grey-dark;
                font-family: 'Font Awesome 5 Pro',sans-serif;
              }
            }
          }
        }
        a{
          font-size: 15px;
        }
      }
    }
    .discount-container{
      .bg-img{
        height: 200px;
        background-size: cover;
        background-position: center;
      }
      h3{
        color: $axios-dark;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .hr-message{
    background-size: cover;
    background-position: center;
    .axios-bg-dark{
      background-color: rgba(10,11,11,0)!important;
    }
    .separator-top{
      &:before{
        border-width: 15px 0px 4vw 100vw;
        border-color: #5f6a75 transparent transparent #5f6a75;
      }
      &:after{
        border-color: transparent transparent transparent #eee;
      }
    }
    .message-container{
      padding-top: 130px;
      padding-bottom: 130px;
      .quote{
        font-style: normal;
        color: #fff;
      }
      .quote-author{
        font-family: $axios-nunito;
        color: $axios-grey-light;
        font-size: 15px;
        line-height: 24px;
      }
    }
    .separator-bottom{
      &:after{
        border-color: transparent transparent transparent #eee;
      }
    }
  }
  .bottom-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
  input[type='checkbox']:before,
  input[type='radio']:before{
    cursor: none!important;
  }
  .multiselect-container>li>a>label{
    cursor: none;
  }
  .button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled){
    cursor: none;
  }
}

@media screen and (min-width:576px){
  #careers {
    .hero-container {
      .hero-content-container {
        .map-container {
          max-width: 100%;
          .pins-container {
            .pin{
              &#ukraine{
                top: 280px;
                left: 315px;
              }
              &#spain{
                left: 185px;
                top: 305px;
              }
              &#cyprus{
                top: 443px;
                left: 310px;
              }
              &#georgia{
                top: 375px;
                left: 350px;
              }
              &#lithuania{
                top: 345px;
                left: 265px;
              }
            }
          }
        }
      }
    }
    .careers-positions {
      .careers__section1__position {
        padding: 25px 20px;
        span{
          max-width: 100%;
          font-size: 20px;
        }
        .careers__section1__position__button {
          .toggle-btn{
            width: 95px;
            height: 70px;
            padding-top: 26px;
            padding-left: 20px;
          }
        }
        &.active{
          .toggle-btn{
            width: 120px;
          }
        }
      }
      .careers__section1__notification{
        label{
          line-height: 24px;
        }
      }
    }
  }
}

@media screen and (min-width:768px){
  #careers {
    .hero-container {
      .hero-content-container {
        .map-container {
          max-width: 100%;
          .map{
            background-image: none;
            height: unset;
          }
          .pins-container {
            .pin{
              &#ukraine{
                top: 364px;
                left: 377px;
              }
              &#spain{
                left: 242px;
                top: 389px;
              }
              &#cyprus{
                top: 532px;
                left: 395px;
              }
              &#georgia{
                top: 429px;
                left: 415px;
              }
              &#lithuania{
                top: 420px;
                left: 335px;
              }
            }
          }
        }
      }
    }
    .careers-positions {
      .careers__section1__position {
        .careers__section1__position__button {
          .toggle-btn{
            width: 150px;
          }
        }
        &.active{
          .toggle-btn{
            width: 200px;
          }
        }
      }
      .discount-container {
        .bg-img{
          height: 300px;
        }
      }
    }
  }
}

@media screen and (min-width:992px) {
  #careers {
    .hero-container {
      .hero-content-container {
        .map-container {
          .pins-container {
            .pin{
              &#ukraine{
                top: 399px;
                left: 510px;
              }
              &#spain{
                left: 341px;
                top: 433px;
              }
              &#cyprus{
                top: 584px;
                left: 519px;
              }
              &#georgia{
                top: 480px;
                left: 555px;
              }
              &#lithuania{
                top: 437px;
                left: 450px;
              }
            }
          }
        }
      }
    }
    .careers-positions {
      .country-filter {
        .btn-group {
          .multiselect{
            font-size: 14px;
            line-height: 48px;
          }
        }
      }
      .discount-container {
        .bg-img{
          height: 400px;
        }
      }
    }

  }
}

@media screen and (min-width:1200px) {
  #careers {
    .hero-container {
      .hero-content-container {
        .map-container {
          .pins-container {
            .pin{
              &#ukraine{
                top: 362px;
                left: 617px;
              }
              &#spain{
                left: 419px;
                top: 423px;
              }
              &#cyprus{
                top: 583px;
                left: 606px;
              }
              &#georgia{
                top: 475px;
                left: 654px;
              }
              &#lithuania{
                top: 400px;
                left: 550px;
              }
            }
          }
        }
      }
    }
    .careers-positions {
      .form-cont {
        .consent{
          line-height: 34px;
        }
      }
    }
    .hr-message {
      .message-container{
        padding-top: 150px;
        padding-bottom: 150px;
      }
    }
  }
}


//Section 1
.careers__section1{
  padding-top: 50px;
  padding-bottom: 50px;
}

.careers__section1__position{
  background-color: #fff;
  font-family: $axios-nunito;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  color:$axios-dark;
  padding: 25px 20px;
  position: relative;
  margin-bottom: 1px;
}

.careers__section1__position__button{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;

  a{
    position: relative;
    overflow: hidden;
    appearance: none;
    display: block;
    width: 200px;
    height: 70px;
    background-color: $axios-grey-dark;
    color: #ffffff;
    padding-top: 25px;
    padding-left: 20px;
    transform: translate(0%,0%);
    transition: all 0.4s;
    i{
      font-weight: 100;
      font-size: 16px;
    }

    &:hover{
      text-decoration: none;
      color: #fff;
      width: 265px;
      background-color: $axios-grey-medium;
    }
    &:focus{
      text-decoration: none;
      color: #fff;
    }
  }
}

.careers__section1__position__description{
  display: none;
  padding-top: 40px;

  strong{
    padding-bottom: 10px;
  }

  ul{
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.careers__section1__position__description__content{
  transition: all 0.5s;
  opacity: 0;
  transform: translateX(0%) translateY(50px);
}
.active .careers__section1__position__description__content{
  opacity: 1;
  transition-delay: 0.4s;
  transform: translateX(0%) translateY(0px);
}

.careers__section1__position__button i{
  transition: all 0.4s $easeInOutQuart;
}
.active .careers__section1__position__button {
  a{
    &:hover{
      background-color: $axios-grey-light;
    }
  }
  i{
    transform: rotate(45deg);
  }

  .active .careers__section1__position__button a{
    width: 265px;
  }

  .careers__section1__expand{
    cursor: pointer;
    font-family: $axios-montserrat;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: $axios-grey-medium;
    i{
      font-size: 14px;
      padding-left: 5px;
    }
  }
}

@media screen and (max-width: 769px) {
 .map{
   height: auto!important;
 }
}

.BambooHR-ATS-Department-Header {
  background: #fff;
  padding: 20px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}

.BambooHR-ATS-board ul ul {
  padding: 2px 20px 12px 20px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 10px;
  background: #fff;
}

#BambooHR-Footer {
  display: none;
}