#ir-contact {
  .hero-container {
    .hero-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-position: center center;
    }

    .hero-content-container {
      padding: 150px 4px 100px 4px;

      .content {
        h3 {
          line-height: 30px;
          color: #fff;
        }
      }
    }

    .bottom-block-separator {
      &:after {
        border-color: transparent transparent transparent #eee;
      }
    }
  }
  .content-container{
    padding-top: 50px;
    padding-bottom: 150px;
    .team-member{
      .member-photo-link{
        max-width: 280px;
        .member-photo{
          background-size: cover;
          height: 280px;
          margin: auto;
          background-position: center center;
          overflow: hidden;
          transition: $axios-transition-fast $easeInOutQuart;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
        &:before{
          content: '';
          position: absolute;
          height: 100%;
          left: 0;
          right: 0;
          width: 100%;
          margin: auto;
          background: #9ea5ab; /* Old browsers */
          background: -moz-linear-gradient(top, #9ea5ab 0%, #bfc3c8 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #9ea5ab 0%,#bfc3c8 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #9ea5ab 0%,#bfc3c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ea5ab', endColorstr='#bfc3c8',GradientType=0 ); /* IE6-9 */
          opacity: 0.4;
          transition: $axios-transition-fast $easeInOutQuart;
        }
        &:hover{
          .bg-img{
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            transform: scale(0.95);
          }
          &:before{
            opacity: 0;
          }
        }
      }
      .member-info{
        .name{
          font-family: $axios-montserrat;
          font-size: 24px;
          font-weight: $axios-montserrat-medium;
          line-height: 24px;
          color: $axios-grey-medium;
        }
        .title{
          font-family: $axios-nunito;
          font-size: 20px;
          font-weight: $axios-font-regular;
          line-height: 24px;
          text-transform: capitalize;
          color: $axios-dark;
        }
        .email-phone{
          bottom:10px;
          font-family: $axios-montserrat;
          font-weight: $axios-montserrat-medium;
          line-height: 24px;
          color: $axios-dark;
          font-size: 16px;

        }
      }
      .member-description{
      }
    }
  }
  .bottom-block-separator{
    &.invert:after{
      border-color: transparent transparent transparent #fff;
    }
  }
}

@media screen and (min-width: 576px) {

  #ir-contact {
    .content-container {
      .team-member {
        .member-photo-link{
          margin-left: 15px!important;
        }
        .member-info {
          position: relative;
          .email-phone{
            position: absolute;
          }
        }
      }
    }
  }

}

form .form-text.consent a:hover {
  color: #222;
}