#search-results{
  .hero-container{
    .hero-content-container{
      height: 100px;
      background-color: $axios-dark;
    }
    .hero-block-separator {
      height: 70px;
      &:before {
        border-width: 0 0 3vw 100vw;
      }
      &:after {
        border-width: 0 0 2vw 100vw;
        border-color: transparent transparent transparent $axios-light-grey-bg;
      }
    }
  }
  .main-content{
    overflow: hidden;
  }
  #blog-results{
    h3{
      font-size: 20px;
      line-height: 48px;
    }
    .articles-container{
      padding-bottom: 50px;
      .article-cont{
        max-width: 350px;
        overflow: hidden;
        a{
          .article-img-cont{
            .article-img-cont-in{
              overflow: hidden;
              .bg-img{
                transition: $axios-transition-fast $easeInOutQuart;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                width: 270px;
                height: 200px;
                background-position: center center;
                background-size: cover;
                &:before{
                  content: '';
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  left: 0;
                  background: #9ea5ab; /* Old browsers */
                  background: -moz-linear-gradient(top, #9ea5ab 0%, #bfc3c8 100%); /* FF3.6-15 */
                  background: -webkit-linear-gradient(top, #9ea5ab 0%,#bfc3c8 100%); /* Chrome10-25,Safari5.1-6 */
                  background: linear-gradient(to bottom, #9ea5ab 0%,#bfc3c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ea5ab', endColorstr='#bfc3c8',GradientType=0 ); /* IE6-9 */
                  opacity: 0.4;
                  transition: $axios-transition-fast $easeInOutQuart;
                }
              }
            }
          }
          .article-date{
            .date{
              font-family: $axios-montserrat;
              font-weight: $axios-montserrat-semibold;
              font-size: 12px;
              line-height: 30px;
              color: $axios-grey-light;
              text-transform: uppercase;
            }
          }
          .article-text{
            .text{
              font-family: $axios-nunito;
              font-weight: $axios-nunito-bold;
              font-size: 18px;
              color: $axios-dark;
              line-height: 24px;
              transition: $axios-transition-fast $easeInOutQuart;
            }
          }
          &:hover{
            .article-img-cont{
              .article-img-cont-in{
                .bg-img{
                  -webkit-filter: grayscale(0);
                  filter: grayscale(0);
                  transform: scale(0.95);
                  &:before{
                    opacity: 0;
                  }
                }
              }
            }
            .article-text{
              .text{
                color: $axios-grey-light;
              }
            }
          }
        }
      }
    }
  }
  #page-results{
    padding-top: 25px;
    padding-bottom: 80px;
    .page-cont{
      a{
        overflow: hidden;
        padding-bottom: 15px;
        max-width: 350px;
        transition: $axios-transition-fast $easeInOutQuart;
        &:after{
          content: '';
          position: absolute;
          height: 10px;
          background-color: #dfe1e3;
          width: 100%;
          left: 0;
          bottom: 0;
          border:solid;
          border-width: 10px 0 0 370px;
          border-color: #fff transparent transparent transparent;
          transition: $axios-transition-fast $easeInOutQuart;
        }
        .page-title{
          font-family: $axios-montserrat;
          font-weight: $axios-montserrat-medium;
          font-size: 24px;
          line-height: 48px;
          color: $axios-grey-medium;
        }
        .page-text{
          .text{
            font-family: $axios-nunito;
            font-weight: $axios-font-regular;
            font-size: 15px;
            line-height: 24px;
            color: $axios-grey-dark;
            height: 100px;
            padding-bottom: 25px;
          }
        }
        .page-link{
          font-family: $axios-montserrat;
          font-weight: $axios-montserrat-bold;
          font-size: 12px;
          line-height: 30px;
          color: $axios-grey-light;
          display: inline-flex!important;
          background-color: transparent;
          border: none;
          transition: $axios-transition-fast $easeInOutQuart;
          .arrow-icon-cont{
            .arrow-icon {
              position: relative;
              top: -1px;
              -webkit-transition: -webkit-transform 0.3s ease;
              transition: -webkit-transform 0.3s ease;
              transition: transform 0.3s ease, -webkit-transform 0.3s ease;
              vertical-align: middle;
              g{
                stroke: $axios-grey-medium;
              }
            }

            .arrow-icon--circle {
              transition: stroke-dashoffset .3s ease;
              stroke-dasharray: 95;
              stroke-dashoffset: 95;
            }

          }
        }
        &:hover{
          -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
          -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.25);
          &:after{
            background-color: $axios-grey-medium;
          }
          .page-link{
            background-color: transparent;
            color: $axios-dark;
            .arrow-icon-cont{
              .arrow-icon {
                transform: translate3d(5px, 0, 0);
                g{
                  stroke: $axios-dark;
                }
              }
              .arrow-icon--circle {
                stroke-dashoffset: 0;
              }
            }
          }
        }
      }
    }
  }
  .article-results-filter{
    .mobile-filter{
      .filter-link{
        border-left: 1px solid #858f99;
        border-bottom: 1px solid #858f99;
        padding: 8px;
        font-size: 13px;
        line-height: 20px;
        &:nth-child(even){
          border-right: 1px solid #858f99;
        }
        &.active{
          background-color: $axios-grey-dark;
          color: #fff;
        }
      }
    }
    .filter-cont{
      width: 150px;
      label{
        display: block;
        white-space: nowrap;
      }
      &.filter,&.sort{
        font-family: $axios-montserrat;
        font-size: 15px;
        line-height: 24px;
        .current{
          font-weight: $axios-montserrat-bold;
          font-family: $axios-montserrat;
          font-size: 15px;
          line-height: 20px;
          color: $axios-grey-dark;
        }
        .option{
          font-weight: $axios-montserrat-medium;
          font-family: $axios-montserrat;
          font-size: 14px;
          line-height: 34px;
          color: $axios-grey-dark;
          padding-right: 50px!important;
        }
      }
      &.index{
        font-family: $axios-montserrat;
        font-size: 15px;
        line-height: 24px;
      }
      &.sort{
        font-family: $axios-montserrat;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
  .bottom-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }

}


@media screen and(min-width: 576px) {
  #search-results {
    .hero-container{
      .hero-content-container {
        height: 125px;
      }
    }
    #blog-results {
      padding-top: 0;
      .articles-container {
        .article-cont {
          a {
            .article-img-cont {
              .article-img-cont-in {
                .bg-img {
                  width: 250px;
                  height: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(min-width: 768px) {
  #search-results {
    .hero-container{
      .hero-content-container {
        height: 150px;
      }
    }
    #blog-results {
      padding-top: 15px;
      .articles-container {
        .article-cont {
          a {
            .article-img-cont {
              .article-img-cont-in {
                .bg-img {
                  width: 210px;
                  height: 200px;
                }
              }
            }
          }
        }
      }
    }
    .nice-select{
      padding-left: 5px;
    }
  }
}

@media screen and(min-width: 992px) {
  #search-results {
    .hero-container {
      .hero-content-container {
        height: 175px;
      }
    }
    #blog-results {
      padding-top: 15px!important;
      .articles-container {
        .article{
          padding-bottom: 50px!important;
          .article-cont {
            a {
              .article-img-cont {
                .article-img-cont-in {
                  .bg-img {
                    width: 290px;
                    height: 200px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #page-results {
    padding-top: 50px;
  }
}

@media screen and(min-width: 1200px) {

  #search-results {
    #blog-results {
      .articles-container {
        .article{
          padding-bottom: 60px!important;
          .article-cont {
            a {
              .article-img-cont {
                .article-img-cont-in {
                  .bg-img {
                    width: 350px;
                    height: 220px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}