#contact-us{
  .hero-container{
    .hero-bg{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
    .hero-content-container{
      padding: 150px 4px 150px 4px;
      .content {
        h3 {
          padding-top: 15px;
          padding-bottom: 35px;
          line-height: 30px;
          color: #fff;
        }
        .contact-form{
          .form-text{
            color: #fff;
          }
          .form-control{
            border-bottom: 1px solid #444;
          }
        }
      }
    }
    .about-us-block-separator{
      &:after{
        border-color: transparent transparent transparent #eee;
      }
    }
  }
  .contact-details-cont{
    padding-top: 50px;
    padding-bottom: 200px;
    .contact-info{
      .info-cont{
        font-family: $axios-nunito;
        display: block;
        font-weight: 700;
        font-size: 17px;
        line-height: 48px;
        color: #5f6a75;
        .info{
          font-family: $axios-nunito;
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          display: block;
        }
      }
    }
    .map-container{
      #map{
        height: 500px;
      }
    }
  }
  .bottom-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
}

iframe {
  width: 100% !important;
}

.mapouter {
  width: 100% !important;
}

.gmap_canvas {
  width: 100% !important;
}
