#generic-template{
  .hero-container {
    .hero-content-container {
      height: 100px;
      background-color: $axios-dark;
    }

    .hero-block-separator {
      height: 70px;

      &:before {
        border-width: 0 0 3vw 100vw;
      }

      &:after {
        border-width: 0 0 2vw 100vw;
        border-color: transparent transparent transparent $axios-light-grey-bg;
      }
    }
  }
  .main-content{
    padding-top: 50px;
    padding-bottom: 150px;
    h1{
      font-size: 28px;
      line-height: 30px;
      text-align: center;
      letter-spacing: -1px;
      padding-bottom: 17px;
    }
    h2{
      padding-bottom: 17px;
    }
    h3{

    }
    h4{
      padding-top: 32px;
      margin-bottom: 0;
    }
    h5{
      font-family: $axios-nunito;
      font-weight: $axios-font-regular;
      font-size: 20px;
      line-height: 30px;
      color: $axios-dark;
      padding-top: 20px;
      margin-bottom: 0;
    }
    p{
      &.intro-text{
        font-size: 20px;
        line-height: 30px;
        color: $axios-dark;
        padding-bottom: 15px;
      }
    }
    ul{
      list-style-type: none;
      padding-bottom: 20px;
      padding-left: 0;
      li{
        display: flex;
        font-family: $axios-nunito;
        font-size: 15px;
        line-height: 30px;
        color: #666;
        font-weight: $axios-font-regular;
        &:before{
          content: '\f0da';
          display: block;
          font-family: $font-awesome;
          font-size: 15px;
          padding-right: 15px;
          font-weight: 900;
        }
      }
    }
    ol{
      padding-left: 16px;
      padding-bottom: 20px;
      li{
        font-family: $axios-nunito;
        font-size: 15px;
        line-height: 30px;
        color: $axios-grey-medium;
        font-weight: $axios-font-regular;
      }
    }
    p,ul,ol{
      a {
        font-family: $axios-nunito;
        font-weight: $axios-nunito-extra-bold;
        font-size: 16px;
        line-height: 22px;
        color: $axios-grey-medium;
        position: relative;
        text-decoration: none;
        display: inline-block;
        padding: 0 1px;
        transition: color ease 0.3s;

        &::before, &::after {
          content: '';
          position: absolute;
          background-color: $axios-grey-medium;
          z-index: 1;
          height: 1px;
        }

        &::before {
          width: 0;
          left: 0;
          bottom: 0;
          transition: width ease 0.4s;
        }

        &::after {
          width: 100%;
          left: 0;
          bottom: 0;
          transition: all ease 0.6s;
        }

        &:hover {

          &::before {
            width: 100%;
            background-color: $axios-dark;
          }

          &::after {
            background-color: $axios-dark;
            left: 100%;
            width: 0;
            transition: all ease 0.2s;
          }
        }
      }

    }
    strong{
      font-family: $axios-nunito;
      font-size: 15px;
      font-weight: 4$axios-nunito-bold;
      line-height: 24px;
      color: $axios-dark;
      margin-bottom: 30px;
    }
    span{
      display: block;
    }
  }
  .bottom-block-separator{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
}
#generic-template{
  &.thank-you, &.error-404{
    .main-content{
      padding-bottom: 30px;
    }
    h2{
      padding-top: 30px;
    }
    h3{
      font-size: 20px;
      color: $axios-dark;
    }
  }
  &.sitemap{
    ul{
      list-style-type: none;
      padding: 0;
      li{
        justify-content: center;
        transition: $axios-transition $easeInSine;
        &:before{
          content: none;
        }
        a{
          font-family: $axios-montserrat;
          font-weight: $axios-montserrat-bold;
          font-size: 21px;
          line-height: 60px;
          color: $axios-grey-dark;
          text-transform: uppercase;
          display: inline-block;
          text-decoration: none;
          position: relative;
          transition: all .4s ease;
          &:before,
          &:after{
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            width: 0;

          }
          &:before{
            transition: width 0s ease,background .4s ease;
            left: 0;
            right: 0;
            bottom: 15px;
          }
          &:after{
            right: 2.2%;
            bottom: 15px;
            background: $axios-grey-medium;
            transition: width .4s ease;
          }
          &:hover{
            color: $axios-grey-medium;
            &:before{
              text-decoration: none;
              color: $axios-dark;
              width: 97.8%;
              background: $axios-grey-medium;
              transition: width .4s ease;
            }
            &:after{
              width: 97.8%;
              background: 0 0;
              transition: all 0s ease;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px){
  #generic-template {
    .hero-container {
      .hero-content-container{
        height: 175px;
      }
    }
  }
}