.home-hero{
  height: 100vh;
  min-height: 600px;
  max-height: 1400px;
  .home-hero-video{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    .video-bg-img{
      background-image: url("/wp-content/themes/axios-wp-theme/assets/images/headers/hero_video_poster.jpg");
      min-height: 600px;
      height: 100vh;
      max-height: 1000px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    video{
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .home-hero-header{
    align-items: center;
    top: 0;
    bottom: 0;
    h1{
      max-width: 320px;
    }
    .arrow-down{
      bottom: 10%;
      a{
        color: #fff;
      }
    }
  }
  .home-block-separator{
    &.hero-separator{
      position: absolute;
      bottom: 0;
      &:after{
        border-color: transparent transparent transparent #eee;
      }
    }
  }
}
.home-section-1{

}
.home-section-2{
  .separator-top{
    &:before{
      border-width: 15px 0px 4vw 100vw;
      border-color: #5f6a75 transparent transparent #5f6a75;
    }
  }
  .home-section-2-container{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .separator-bottom{
    &:after{
      border-color: transparent transparent transparent #eee;
    }
  }
}
.home-section-4{
  .separator-top{
    &:before{
      border-width: 15px 0px 4vw 100vw;
      border-color: #5f6a75 transparent transparent #5f6a75;
    }
  }
  .home-section-4-container{
    .articles-container{
      padding-top: 80px;
      padding-bottom: 80px;
      .article-cont{
        max-width: 320px;
        a{
          .article-img-cont{
            .article-img-cont-in{
              overflow: hidden;
              .bg-img{
                transition: $axios-transition-fast $easeInOutQuart;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                width: 280px;
                height: 225px;
                background-size: cover;
                &:before{
                  content: '';
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  left: 0;
                  background: #9ea5ab; /* Old browsers */
                  background: -moz-linear-gradient(top, #9ea5ab 0%, #bfc3c8 100%); /* FF3.6-15 */
                  background: -webkit-linear-gradient(top, #9ea5ab 0%,#bfc3c8 100%); /* Chrome10-25,Safari5.1-6 */
                  background: linear-gradient(to bottom, #9ea5ab 0%,#bfc3c8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ea5ab', endColorstr='#bfc3c8',GradientType=0 ); /* IE6-9 */
                  opacity: 0.4;
                  transition: $axios-transition-fast $easeInOutQuart;
                }
              }
            }
          }
          .article-date{
            .date{
              font-family: $axios-montserrat;
              font-weight: $axios-montserrat-semibold;
              font-size: 12px;
              line-height: 30px;
              color: $axios-grey-light;
              text-transform: uppercase;
            }
          }
          .article-text{
            .text{
              font-family: $axios-nunito;
              font-weight: $axios-nunito-bold;
              font-size: 18px;
              color: #fff;
              line-height: 24px;
              transition: $axios-transition-fast $easeInOutQuart;
            }
          }
          &:hover{
            .article-img-cont{
              .article-img-cont-in{
                .bg-img{
                  -webkit-filter: grayscale(0);
                  filter: grayscale(0);
                  transform: scale(0.95);
                  &:before{
                    opacity: 0;
                  }
                }
              }
            }
            .article-text{
              .text{
                color: $axios-grey-light;
              }
            }
          }
        }
      }
    }
  }
  .separator-bottom{
    &:after{
      border-color: transparent transparent transparent #fff;
    }
  }
}

@media screen and (min-width:576px) {

  .home-hero{
    .home-hero-header{
      h1{
        max-width: 100%;
      }
    }
  }
  #home-section-2{
    .home-section-2-container{
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
  .home-section-4 {
    .home-section-4-container {
      .articles-container {
        .article-cont{
          max-width: 100%;
          a{
            .article-img-cont{
              .article-img-cont-in{
                .bg-img{
                  width: 240px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width:768px) {

  .home-section-2 {
    .separator-top:before {
      border-width: 8px 0px 4vw 100vw;
    }
  }
  .home-section-4 {
    .home-section-4-container {
      .articles-container {
        .article-cont {
          a {
            .article-img-cont {
              .article-img-cont-in {
                .bg-img{
                  width: 210px;
                }
              }
            }
          }
        }
      }
    }
    .separator-top:before {
      border-width: 8px 0px 4vw 100vw;
    }
  }

}

@media screen and (min-width:992px) {

  .home-section-4 {
    .home-section-4-container {
      .articles-container {
        .article-cont {
          a {
            .article-img-cont {
              .article-img-cont-in {
                .bg-img{
                  width: 290px;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width:1200px) {

  .home-section-4 {
    .home-section-4-container {
      .articles-container {
        .article-cont {
          a {
            .article-img-cont {
              .article-img-cont-in {
                .bg-img{
                  width: 350px;
                }
              }
            }
          }
        }
      }
    }
  }

}

