#search{
  transition: transform cubic-bezier(.77,0,.175,1) .8 + s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  z-index: $zindex-search;
  .search-cont{
    z-index: $zindex-search-content;
  }
  &:before,&:after{
    content: "";
    position: fixed;
    width:100vw;
    height: 100vh;
    background: $axios-light-grey-bg;
    z-index: $zindex-search;
    transition: transform cubic-bezier(.77,0,.175,1) .8 + s;
    transform: translateX(0%) translateY(100%);
  }
  &:before{
    transition-delay: .1s;
  }
  &:after{
    background: rgba($axios-dark, 1);
    transition-delay: 0s;
  }
  .searchmenu__logo{
    position: absolute;
    left: 25px;
    top: 25px;
  }

  .searchmenu__form__text{
    opacity: 0;
    transition: all 0.4s $easeInOutQuart;
    transition-delay: 1s;
  }

  .searchmenu__close{
    text-align: right;
    opacity: 0;
    transition: all 0.5s $easeInOutQuart;
    transition-delay: 0.8s;
    transform: translateX(0%) translateY(10px);
    padding-right: 0px;

    a{
      color: #fff;
      font-size: 17px;
      font-weight: 600;
      font-family: $axios-montserrat;
      &:hover,&:focus{
        color: #fff;
      }
    }

    i{
      padding-left: 10px;
      font-size: 22px;
      vertical-align: middle;
    }
  }

  .searchmenu__form{
    text-align: center;
    color: #fff;
    font-family: $axios-nunito;
    font-size: 14px;
    font-weight: 400;
  }

  .searchmenu__form__field{
    position: relative;
    display: inline-block;
    overflow: hidden;

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      transform: translateX(0%) translateY(-100%);
    }

    #searchIcon{
      cursor: pointer;
      font-size: 24px;
      padding-left: 10px;
      vertical-align: bottom;
      color: #fff;
      position: absolute;
      right: 0px;
      bottom: 25px;
      opacity: 0;
      transform: rotate(90deg);
      &:hover,&:focus{
        opacity: 0.5;
      }
    }

  }
  &.active{
    transform: translateY(0);
    &:before,&:after{
      transform: translateX(0%) translateY(0%);
    }
    &:after{
      transition-delay: .1s;
    }
    &:before{
      transition-delay: 0s;
    }
    opacity: 1;
    pointer-events: auto;

    .searchmenu__close {
      opacity: 1;
      transform: translateX(0%) translateY(0px);
    }

    .searchmenu__form__text {
      opacity: 1;
    }

    .searchmenu__form__field{
      #searchIcon{
        animation: searchFieldAnimation 1.5s $easeInOutQuart;
        animation-fill-mode: forwards;
      }
      &:after{
        animation: searchFieldAfterAnimation 1.5s $easeInOutQuart;
        animation-fill-mode: forwards;
      }
    }

    #searchField{
      animation: searchFieldAnimation 1.5s $easeInOutQuart;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes searchFieldAfterAnimation {
  0% {
    transform: translateX(0%) translateY(-100%);
  }
  33% {
    transform: translateX(0%) translateY(-100%);
  }
  66% {
    transform: translateX(0%) translateY(0%);
  }
  100% {
    transform: translateX(0%) translateY(100%);
  }
}

@keyframes searchFieldAnimation {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#searchField{
  width: 600px;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px $axios-grey-medium;
  font-size: 28px;
  color: #fff;
  font-family: $axios-nunito;
  font-weight: 600;
  padding: 15px 30px;
  text-align: center;
  position:relative;
  opacity: 0;

  &:focus{
    outline: none;
  }
}

#searchField::placeholder {
  font-size: 28px;
  color: #fff;
  font-family: $axios-nunito;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 767.98px) {
  #searchField {
    width: 400px;
  }
}

@media (max-width: 575.98px) {
  #searchField {
    width: 275px;
  }
}

@media (max-width: 360px) {
  #searchIcon {
    bottom: 30px;
  }
}