a{
  font-family: $axios-nunito;
  font-weight: $axios-nunito-bold;
  font-size: 15px;
  line-height: 22px;
  color: $axios-grey-medium;
  display: inline-block;
  text-decoration: none;
  position: relative;
  &.light-hover{
    color: #fff;
  }

}



p{
  font-family: $axios-nunito;
  font-size: 15px;
  font-weight: $axios-font-regular;
  line-height: 24px;
  color: $axios-text-paragraph;
  margin-bottom: 30px;
}
