.page-numbers.current {
    background-color: #0a0b0b;
    color: #fff;
    /* width: 40px; */
    /* height: 36px; */
    border-radius: 50%;
    padding: 8px 12px;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
}
.pagination li a{
    padding-top: 3px;
    padding-left: 10px;
}